body {
    
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23DD0000' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='7.7' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(291.6 0 0)' %3E%3Ccircle fill='%23DD0000' r='10'/%3E%3Cg transform='rotate(-72 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-15 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(32.4 0 0)'%3E%3Cg transform='rotate(182.25 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(67.5 0 0)'%3E%3Cg transform='rotate(109.35 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-218.7 0 0)'%3E%3Cg transform='rotate(-32.4 0 0)'%3E%3Cg transform='rotate(-90 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
text-align: center;
text-transform: uppercase;
text-shadow: 2px 2px #000000;
font-family: "Iceland", static;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 95%;
}

/* Header Primary */

header.primary h1 {
    font-size: 4.5rem;
  }
  
  header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
  }
  
  header.primary h2 {
    position: relative;
    font-size: 1.5rem;
  }
  
  header.primary nav {
    margin: 30px auto;
    width: 80%;
    line-height: 275%;
    max-width: 80%;
  }
  
  header.primary ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  header.primary ul li {
    list-style-type: none;
  }
  
  header.primary nav a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7px 10px;
    border-radius: 2px;
    border: 1px solid #ff0000;
    transition: 0.4s;
  }
  
  header.primary nav a:hover {
    background-color: rgba(255, 0, 0, 0.8);
    border: 1px solid white;
    transition: 0.2s;
  }

  /* Header Secondary */
header.secondary h2 {
  position: relative;
  font-size: 1.5rem;
}

header.secondary nav {
  margin: 30px auto;
}

header.secondary ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header.secondary li {
  list-style-type: none;
}

header.secondary nav a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 2px;
  border: 1px solid #ff0000;
  transition: 0.4s;
}

header.secondary nav a:hover {
  background-color: rgba(255, 0, 0, 0.8);
  border: 1px solid rgb(255, 255, 255);
  transition: 0.2s;
}

  .special-link {
    margin: 50px auto;
    line-height: 250%;
    width: 70%;
    min-width: max-content;
  }

  